/* html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    margin: 0;
} */


.button{
    
    display: inline-block;
    padding: 5px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    background-color: aqua;
    cursor: pointer;
  
}

.button:hover, .button:focus{
    background-color: rgb(33, 183, 38);
}

.icon{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #000;
  vertical-align: middle;
}

/* .container{
   justify-content: center;
   text-align:start;
    display: flex;
    width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
} */

.article{
    width: 250px;
    outline: 6px solid red;
    background: green;
    margin-right: 75px;
    padding: 10px;

}


.article:hover{
    outline: none;
    color: white;
   
}

.site-nav{
    list-style: none;
    display: flex;
}

.site-nav__item{
    border: 1px solid blueviolet;
    
    padding: 5px 10px;
background: rgb(200, 20, 20);
}

.site-nav .site-nav__item + .site-nav__item {
    background-color: green;
    margin-left: 15px;
}

/* .site-nav__item:last-child{
    margin-right: 0;
} */

.site-nav__link{
    text-decoration: none;
    color: blueviolet;

}

.section{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
   

   
}

.article-section{
    display: flex;
    flex-wrap: wrap;
  justify-content: center;
     
}

.element-sections{
    display: block;
    width: calc((100% - 30px) / 2);
    padding: 20px;
    margin-right: 30px;
     margin-bottom: 30px;
     padding-inline-start: 40px;


    background: tomato;

}

.element-sections:nth-child(2n){
    margin-right: 0;
}

.element-sections:nth-last-child(-n +2){
    margin-bottom: 0;
}

