*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container{
    border: 5px solid yellowgreen;
   
}

.flex-item{
    
   
}

.item-1{
    background-image: linear-gradient(45deg, #f814, #f817)
}

.item-2{
    background-image: linear-gradient(45deg, rgba(58, 208, 56, 0.267), rgba(65, 255, 17, 0.886))
}

.item-3{
    background-image: linear-gradient(45deg, rgba(69, 56, 208, 0.267), rgba(255, 17, 17, 0.993))
}

.item-4{
     font-size: 170px;
    background-image: linear-gradient(45deg, rgba(208, 162, 56, 0.267), rgba(255, 100, 17, 0.993))
}

.item-5{
    background-image: linear-gradient(45deg, rgba(84, 56, 208, 0.267), rgba(255, 17, 17, 0.993))
}

.item-6{
    background-image: linear-gradient(45deg, rgba(56, 193, 208, 0.267), rgba(84, 17, 255, 0.993))
}
.item-7{
    background-image: linear-gradient(45deg, rgba(208, 56, 188, 0.267), rgba(203, 255, 17, 0.993))
}

.item-7{
    background-image: linear-gradient(45deg, rgba(137, 208, 56, 0.267), rgba(255, 77, 17, 0.993))
}

.item-8{
   
    background-image: linear-gradient(45deg, rgba(138, 255, 4, 0.267), rgba(77, 17, 255, 0.993))
}

.flex-container{
   display: grid;
   grid-template-columns: 1fr 2fr 3fr;
   

}
.flex-item{
}
